In [1]:
import numpy as np
import pandas as pd

In [57]:
data_df = pd.read_csv("/Users/shu-ya/Downloads/Book1.csv")
data_df.head()

  wafer_id  point    3    4    5    6    7    8    9   10 grouping
0     W211      1  567  789  123  345  567  789  123  345        G
1     W211      2  567  789  123  345  567  789  123  345        G
2     W211      3  567  789  123  345  567  789  123  345        G
3     W212      1  567  789  123  345  567  789  123  345        G
4     W212      2  567  789  123  345  567  789  123  345        G

In [58]:
data_df['wafer_id'].str[3:]

0     1
1     1
2     1
3     2
4     2
5     2
6     3
7     3
8     3
9     4
10    4
11    4
12    5
13    5
14    5
15    6
16    6
17    6
18    7
19    7
20    7
21    8
22    8
23    8
Name: wafer_id, dtype: object

In [59]:
data_df['wafer_id'] = data_df['wafer_id'].str[3:]

In [60]:
data_df

   wafer_id  point    3    4    5    6    7    8    9   10 grouping
0         1      1  567  789  123  345  567  789  123  345        G
1         1      2  567  789  123  345  567  789  123  345        G
2         1      3  567  789  123  345  567  789  123  345        G
3         2      1  567  789  123  345  567  789  123  345        G
4         2      2  567  789  123  345  567  789  123  345        G
5         2      3  567  789  123  345  567  789  123  345        G
6         3      1  567  789  123  345  567  789  123  345        G
7         3      2  567  789  123  345  567  789  123  345        G
8         3      3  567  789  123  345  567  789  123  345        G
9         4      1  567  789  123  345  567  789  123  345        G
10        4      2  567  789  123  345  567  789  123  345        G
11        4      3  567  789  123  345  567  789  123  345        G
12        5      1  567  789  123  345  567  789  123  345        B
13        5      2  567  789  123  345  567  789  123  345        B
14        5      3  567  789  123  345  567  789  123  345        B
15        6      1  567  789  123  345  567  789  123  345        B
16        6      2  567  789  123  345  567  789  123  345        B
17        6      3  567  789  123  345  567  789  123  345        B
18        7      1  567  789  123  345  567  789  123  345        B
19        7      2  567  789  123  345  567  789  123  345        B
20        7      3  567  789  123  345  567  789  123  345        B
21        8      1  567  789  123  345  567  789  123  345        B
22        8      2  567  789  123  345  567  789  123  345        B
23        8      3  567  789  123  345  567  789  123  345        B

In [107]:
data_df.dtypes

wafer_id     int64
point        int64
3            int64
4            int64
5            int64
6            int64
7            int64
8            int64
9            int64
10           int64
grouping    object
dtype: object

In [106]:
data_df['wafer_id']=data_df['wafer_id'].astype(int)

In [61]:
df = pd.read_csv("/Users/shu-ya/Downloads/Book2.csv")
df.head()

   wafer_id  num  lot_id    3    4    5    6    7    8    9   10 location
0         1    1     345  567  789  123  345  567  789  123  345      1|2
1         1    2     345  567  789  123  345  567  789  123  345      2|3
2         1    3     345  567  789  123  345  567  789  123  345      3|4
3         2    1     345  567  789  123  345  567  789  123  345      1|2
4         2    2     345  567  789  123  345  567  789  123  345      2|3

In [103]:
df['wafer_id']

0     1
1     1
2     1
3     2
4     2
5     2
6     3
7     3
8     3
9     4
10    4
11    4
12    5
13    5
14    5
15    6
16    6
17    6
18    7
19    7
20    7
21    8
22    8
23    8
Name: wafer_id, dtype: int64

In [82]:
df.columns = df.columns.str.replace('num', 'point')

In [83]:
df

    wafer_id  point  lot_id    3    4    5    6    7    8    9   10 location
0          1      1     345  567  789  123  345  567  789  123  345      1|2
1          1      2     345  567  789  123  345  567  789  123  345      2|3
2          1      3     345  567  789  123  345  567  789  123  345      3|4
3          2      1     345  567  789  123  345  567  789  123  345      1|2
4          2      2     345  567  789  123  345  567  789  123  345      2|3
5          2      3     345  567  789  123  345  567  789  123  345      3|4
6          3      1     345  567  789  123  345  567  789  123  345      1|2
7          3      2     345  567  789  123  345  567  789  123  345      2|3
8          3      3     345  567  789  123  345  567  789  123  345      3|4
9          4      1     345  567  789  123  345  567  789  123  345      1|2
10         4      2     345  567  789  123  345  567  789  123  345      2|3
11         4      3     345  567  789  123  345  567  789  123  345      3|4
12         5      1     345  567  789  123  345  567  789  123  345      1|2
13         5      2     345  567  789  123  345  567  789  123  345      2|3
14         5      3     345  567  789  123  345  567  789  123  345      3|4
15         6      1     345  567  789  123  345  567  789  123  345      1|2
16         6      2     345  567  789  123  345  567  789  123  345      2|3
17         6      3     345  567  789  123  345  567  789  123  345      3|4
18         7      1     345  567  789  123  345  567  789  123  345      1|2
19         7      2     345  567  789  123  345  567  789  123  345      2|3
20         7      3     345  567  789  123  345  567  789  123  345      3|4
21         8      1     345  567  789  123  345  567  789  123  345      1|2
22         8      2     345  567  789  123  345  567  789  123  345      2|3
23         8      3     345  567  789  123  345  567  789  123  345      3|4

In [104]:
df.dtypes

wafer_id     int64
point        int64
lot_id       int64
3            int64
4            int64
5            int64
6            int64
7            int64
8            int64
9            int64
10           int64
location    object
dtype: object

In [120]:
f1 = pd.merge(data_df[["wafer_id","point",'grouping']], df[["wafer_id", 
         "point", 'lot_id', 'location']], on=["wafer_id","point"])

In [121]:
f1

    wafer_id  point grouping  lot_id location
0          1      1        G     345      1|2
1          1      2        G     345      2|3
2          1      3        G     345      3|4
3          2      1        G     345      1|2
4          2      2        G     345      2|3
5          2      3        G     345      3|4
6          3      1        G     345      1|2
7          3      2        G     345      2|3
8          3      3        G     345      3|4
9          4      1        G     345      1|2
10         4      2        G     345      2|3
11         4      3        G     345      3|4
12         5      1        B     345      1|2
13         5      2        B     345      2|3
14         5      3        B     345      3|4
15         6      1        B     345      1|2
16         6      2        B     345      2|3
17         6      3        B     345      3|4
18         7      1        B     345      1|2
19         7      2        B     345      2|3
20         7      3        B     345      3|4
21         8      1        B     345      1|2
22         8      2        B     345      2|3
23         8      3        B     345      3|4

In [117]:
# merging the files
f3 = df [["wafer_id", 
         "point", 'lot_id', 'location']].merge(data_df[["wafer_id","point",'grouping']], 
                                     on = ["wafer_id","point"], 
                                     how = "left")

In [118]:
f3

    wafer_id  point  lot_id location grouping
0          1      1     345      1|2        G
1          1      2     345      2|3        G
2          1      3     345      3|4        G
3          2      1     345      1|2        G
4          2      2     345      2|3        G
5          2      3     345      3|4        G
6          3      1     345      1|2        G
7          3      2     345      2|3        G
8          3      3     345      3|4        G
9          4      1     345      1|2        G
10         4      2     345      2|3        G
11         4      3     345      3|4        G
12         5      1     345      1|2        B
13         5      2     345      2|3        B
14         5      3     345      3|4        B
15         6      1     345      1|2        B
16         6      2     345      2|3        B
17         6      3     345      3|4        B
18         7      1     345      1|2        B
19         7      2     345      2|3        B
20         7      3     345      3|4        B
21         8      1     345      1|2        B
22         8      2     345      2|3        B
23         8      3     345      3|4        B

In [133]:
f3.to_csv('/Users/shu-ya/Downloads/result.csv')

In [151]:
ddf_1 = pd.read_csv("/Users/shu-ya/Downloads/Book1.csv")
ddf_1.head()

  wafer_id  point    3    4    5    6    7    8    9   10 grouping
0     W211      1  567  789  123  345  567  789  123  345        G
1     W211      2  567  789  123  345  567  789  123  345        G
2     W211      3  567  789  123  345  567  789  123  345        G
3     W212      1  567  789  123  345  567  789  123  345        G
4     W212      2  567  789  123  345  567  789  123  345        G

In [152]:
ddf_1['wafer_id_1'] = ddf_1['wafer_id'].str[3:]

In [153]:
ddf_1

   wafer_id  point    3    4    5    6    7    8    9   10 grouping wafer_id_1
0      W211      1  567  789  123  345  567  789  123  345        G          1
1      W211      2  567  789  123  345  567  789  123  345        G          1
2      W211      3  567  789  123  345  567  789  123  345        G          1
3      W212      1  567  789  123  345  567  789  123  345        G          2
4      W212      2  567  789  123  345  567  789  123  345        G          2
5      W212      3  567  789  123  345  567  789  123  345        G          2
6      W213      1  567  789  123  345  567  789  123  345        G          3
7      W213      2  567  789  123  345  567  789  123  345        G          3
8      W213      3  567  789  123  345  567  789  123  345        G          3
9      W214      1  567  789  123  345  567  789  123  345        G          4
10     W214      2  567  789  123  345  567  789  123  345        G          4
11     W214      3  567  789  123  345  567  789  123  345        G          4
12     W215      1  567  789  123  345  567  789  123  345        B          5
13     W215      2  567  789  123  345  567  789  123  345        B          5
14     W215      3  567  789  123  345  567  789  123  345        B          5
15     W216      1  567  789  123  345  567  789  123  345        B          6
16     W216      2  567  789  123  345  567  789  123  345        B          6
17     W216      3  567  789  123  345  567  789  123  345        B          6
18     W217      1  567  789  123  345  567  789  123  345        B          7
19     W217      2  567  789  123  345  567  789  123  345        B          7
20     W217      3  567  789  123  345  567  789  123  345        B          7
21     W218      1  567  789  123  345  567  789  123  345        B          8
22     W218      2  567  789  123  345  567  789  123  345        B          8
23     W218      3  567  789  123  345  567  789  123  345        B          8

In [157]:
ddf_1 = ddf_1[['wafer_id', 'point', 'wafer_id_1', '3', '4', '5', '6', '7', '8', '9', '10', 'grouping']]

In [158]:
ddf_1

   wafer_id  point wafer_id_1    3    4    5    6    7    8    9   10 grouping
0      W211      1          1  567  789  123  345  567  789  123  345        G
1      W211      2          1  567  789  123  345  567  789  123  345        G
2      W211      3          1  567  789  123  345  567  789  123  345        G
3      W212      1          2  567  789  123  345  567  789  123  345        G
4      W212      2          2  567  789  123  345  567  789  123  345        G
5      W212      3          2  567  789  123  345  567  789  123  345        G
6      W213      1          3  567  789  123  345  567  789  123  345        G
7      W213      2          3  567  789  123  345  567  789  123  345        G
8      W213      3          3  567  789  123  345  567  789  123  345        G
9      W214      1          4  567  789  123  345  567  789  123  345        G
10     W214      2          4  567  789  123  345  567  789  123  345        G
11     W214      3          4  567  789  123  345  567  789  123  345        G
12     W215      1          5  567  789  123  345  567  789  123  345        B
13     W215      2          5  567  789  123  345  567  789  123  345        B
14     W215      3          5  567  789  123  345  567  789  123  345        B
15     W216      1          6  567  789  123  345  567  789  123  345        B
16     W216      2          6  567  789  123  345  567  789  123  345        B
17     W216      3          6  567  789  123  345  567  789  123  345        B
18     W217      1          7  567  789  123  345  567  789  123  345        B
19     W217      2          7  567  789  123  345  567  789  123  345        B
20     W217      3          7  567  789  123  345  567  789  123  345        B
21     W218      1          8  567  789  123  345  567  789  123  345        B
22     W218      2          8  567  789  123  345  567  789  123  345        B
23     W218      3          8  567  789  123  345  567  789  123  345        B

In [146]:
ddf_1.insert(1, 'wafer_id_1', True)

In [147]:
ddf_1['wafer_id_1'] = ddf_1['wafer_id'].str[3:]

In [148]:
ddf_1

   wafer_id wafer_id_1  point    3    4    5    6    7    8    9   10 grouping
0      W211          1      1  567  789  123  345  567  789  123  345        G
1      W211          1      2  567  789  123  345  567  789  123  345        G
2      W211          1      3  567  789  123  345  567  789  123  345        G
3      W212          2      1  567  789  123  345  567  789  123  345        G
4      W212          2      2  567  789  123  345  567  789  123  345        G
5      W212          2      3  567  789  123  345  567  789  123  345        G
6      W213          3      1  567  789  123  345  567  789  123  345        G
7      W213          3      2  567  789  123  345  567  789  123  345        G
8      W213          3      3  567  789  123  345  567  789  123  345        G
9      W214          4      1  567  789  123  345  567  789  123  345        G
10     W214          4      2  567  789  123  345  567  789  123  345        G
11     W214          4      3  567  789  123  345  567  789  123  345        G
12     W215          5      1  567  789  123  345  567  789  123  345        B
13     W215          5      2  567  789  123  345  567  789  123  345        B
14     W215          5      3  567  789  123  345  567  789  123  345        B
15     W216          6      1  567  789  123  345  567  789  123  345        B
16     W216          6      2  567  789  123  345  567  789  123  345        B
17     W216          6      3  567  789  123  345  567  789  123  345        B
18     W217          7      1  567  789  123  345  567  789  123  345        B
19     W217          7      2  567  789  123  345  567  789  123  345        B
20     W217          7      3  567  789  123  345  567  789  123  345        B
21     W218          8      1  567  789  123  345  567  789  123  345        B
22     W218          8      2  567  789  123  345  567  789  123  345        B
23     W218          8      3  567  789  123  345  567  789  123  345        B

In [144]:
# ddf_1.drop(columns=('wafer_id_1'))

   wafer_id  point    3    4    5    6    7    8    9   10 grouping
0      W211      1  567  789  123  345  567  789  123  345        G
1      W211      2  567  789  123  345  567  789  123  345        G
2      W211      3  567  789  123  345  567  789  123  345        G
3      W212      1  567  789  123  345  567  789  123  345        G
4      W212      2  567  789  123  345  567  789  123  345        G
5      W212      3  567  789  123  345  567  789  123  345        G
6      W213      1  567  789  123  345  567  789  123  345        G
7      W213      2  567  789  123  345  567  789  123  345        G
8      W213      3  567  789  123  345  567  789  123  345        G
9      W214      1  567  789  123  345  567  789  123  345        G
10     W214      2  567  789  123  345  567  789  123  345        G
11     W214      3  567  789  123  345  567  789  123  345        G
12     W215      1  567  789  123  345  567  789  123  345        B
13     W215      2  567  789  123  345  567  789  123  345        B
14     W215      3  567  789  123  345  567  789  123  345        B
15     W216      1  567  789  123  345  567  789  123  345        B
16     W216      2  567  789  123  345  567  789  123  345        B
17     W216      3  567  789  123  345  567  789  123  345        B
18     W217      1  567  789  123  345  567  789  123  345        B
19     W217      2  567  789  123  345  567  789  123  345        B
20     W217      3  567  789  123  345  567  789  123  345        B
21     W218      1  567  789  123  345  567  789  123  345        B
22     W218      2  567  789  123  345  567  789  123  345        B
23     W218      3  567  789  123  345  567  789  123  345        B

In [149]:
ddf_1["waferid_lotid"] = ddf_1["wafer_id"]+ '_' + ddf_1['3'].astype(str)

In [150]:
ddf_1

,wafer_id,wafer_id_1,point,3,4,5,6,7,8,9,10,grouping,waferid_lotid
0,W211,1,1,567,789,123,345,567,789,123,345,G,W211_567
1,W211,1,2,567,789,123,345,567,789,123,345,G,W211_567
2,W211,1,3,567,789,123,345,567,789,123,345,G,W211_567
3,W212,2,1,567,789,123,345,567,789,123,345,G,W212_567
4,W212,2,2,567,789,123,345,567,789,123,345,G,W212_567
5,W212,2,3,567,789,123,345,567,789,123,345,G,W212_567
6,W213,3,1,567,789,123,345,567,789,123,345,G,W213_567
7,W213,3,2,567,789,123,345,567,789,123,345,G,W213_567
8,W213,3,3,567,789,123,345,567,789,123,345,G,W213_567
9,W214,4,1,567,789,123,345,567,789,123,345,G,W214_567
10,W214,4,2,567,789,123,345,567,789,123,345,G,W214_567
11,W214,4,3,567,789,123,345,567,789,123,345,G,W214_567
12,W215,5,1,567,789,123,345,567,789,123,345,B,W215_567
13,W215,5,2,567,789,123,345,567,789,123,345,B,W215_567
14,W215,5,3,567,789,123,345,567,789,123,345,B,W215_567
15,W216,6,1,567,789,123,345,567,789,123,345,B,W216_567
16,W216,6,2,567,789,123,345,567,789,123,345,B,W216_567
17,W216,6,3,567,789,123,345,567,789,123,345,B,W216_567
18,W217,7,1,567,789,123,345,567,789,123,345,B,W217_567
19,W217,7,2,567,789,123,345,567,789,123,345,B,W217_567
20,W217,7,3,567,789,123,345,567,789,123,345,B,W217_567
21,W218,8,1,567,789,123,345,567,789,123,345,B,W218_567
22,W218,8,2,567,789,123,345,567,789,123,345,B,W218_567
23,W218,8,3,567,789,123,345,567,789,123,345,B,W218_567